@import url('https://fonts.googleapis.com/css?family=Barrio');

* {
    box-sizing: border-box;
    outline:none
}
*:focus {
    outline:none
}

#content{
	font-family: 'Barrio';
    word-wrap: break-word;
}

span{
	margin-top: 40px;
}

body{
	margin: 0 auto;
	width: 70%;
}

h1 {
	text-align: left;
}

textarea{
 	position: relative;
	width: 100%;
}

p{
	display: inline;
}
button{
	float: left;
	font-size: 50px;
	width: 50%;
	height: 100px;
	margin-bottom: 40px;
	margin-top: 40px;
}

#text {
    min-height: 300px;
    min-width: 100%;
    max-width: 100%;
    padding: 15px;
}

#input-block{
	float: left;
	width: 100%;
}
#settings{
	position: relative;
	top: 30px;
	left: 30px;
	float: left;
}
input[type="text"]{
	width: 30px;
}

label + input {
    margin-right: 10px;
}

#generate {
    color: white;
    border: none;
    background: #9a5cb4;
    border-bottom: solid 6px #81439B;
    transition: all 100ms linear;
}

#generate:active {
    transition: all;
    border-bottom: none;
}



